* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #fff;
}

.container {
    width: 100%;
    height: 100vh;
    background: url(wave-haikei.png) no-repeat;
    background-size: cover;



}

.box {
    width: 400px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 5px #89c9f3, -2px -2px 5px #89c9f3;
    border-radius: 8px;
    backdrop-filter: blur(8px);
    padding: 20px 40px;

}

.signup-header h1 {
    font-size: 2.2rem;
    text-align: center;
    padding: 5px 8px;
}

.signup-main div {
    margin-top: 20px;
}

form div {
    position: relative;
}

.signup-main div i {
    position: absolute;
    right: 16px;
    top: 34px;
    font-size: 22px;
    color: green;
    cursor: pointer;
}

.signup-main div span {
    font-size: 218x;
    font-weight: 600;
    color: green;
}

.signup-main div label {
    font-size: 18px;
    font-weight: 600;

}

.signup-main div input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border-radius: 4px;
    border: none;
    outline: none;
    margin-block: 4px;
    color: #000;
}

.signup-main div input[type="submit"] {
    border: none;
    background-color: #3498db;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.signup-main div input[type="submit"]:hover {
    background-color: #2773a5;
}

.signup-footer {
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
}

.signup-footer p a {
    text-decoration: none;
}

.signup-footer p a:hover {
    text-decoration: underline;
}